$darkGray:#1b1e29;
$gray: #2d303f;
$lightgray: lightgray;
$orange: #f16b42;
$white: #fff;
$font:16px;
$boxShadow: 0 0 30px $gray;
$transition: .3s ease;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@mixin btn {
    padding: 10px 30px;
    background: $orange;
    border: none;
    color: white;
    font-size: 1.1rem;
    margin-top: 20px;
    &:hover {
        background: $darkGray;
        cursor: pointer;
        $transition: .3s ease;
    }

}
@mixin image {
    width: 100%;
    border: 1px solid $orange;
    box-shadow: $boxShadow;
}

/************
basic styles
************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    line-height: 1.6;
    color: $darkGray;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
a {
    text-decoration: none;
    &:hover {
        transition: $transition;
    }
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}
.py {
    padding: 60px 0;
}
.uvod {
    background: $orange;
    text-align: center;
    h2 {
        font-size: 2rem;
        &::after {
            display: block;
            content: "";
            background: $darkGray;
            height: 6px;
            width: 100px;
            margin: 20px auto;
        }
    }

}
nav {
    background: $orange;
    padding: 5px 0;
    border-bottom: 3px solid $darkGray;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-size: 1.5rem;
            color: $darkGray;
            text-shadow: 0 0 2px $white;
            font-weight: 700;
            &:hover {
                color: $white;
                text-shadow: 0 0 2px $darkGray;
            }
        }
        ul {
            display: flex;
            li {
                a {
                    color: $white;
                    margin-left: 40px;
                    text-transform: uppercase;
                    &:hover {
                        color: $darkGray;
                    }
                }
            }
        }
    }
}

footer {
    background: $darkGray;
    color: $orange;
    border-top: 3px solid $orange;
    .container {
        display: flex;
        flex-wrap: wrap;
        article {
            flex: 1;
            hr {
                border: none;
                width: 10%;
                background: white;
                height: 3px;
                margin: 15px 0;
            }
            li {
                list-style: none;
            a {
                color: $lightgray;
                list-style: none;
                &:hover {
                    color: #fff;

                }
            }
        }
        }
    }
}
.homeHeader {
    background-image: url(../roller_skates/img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 50px;
    h1 {
        color: $orange;
        font-size: 5rem;
        text-shadow: 0 0 2px $darkGray;
    }
    button {
        @include btn;
    }
}
.modeli {
    display: flex;
    flex-wrap: wrap;
    article {
        flex: 1;
        img {
            @include image;
        }
    }
    article:first-child {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        padding-right: 50px;
        text-align: right;
        h2 {
            font-size: 2rem;
            color: $orange;
        }
    }
}

.zabavaHeader {
    @extend .homeHeader;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/zabava.jpg);
    align-items: center;
    text-align: center;
    padding-right: 0px;
}

.zabavaMain {
    h2 {
        font-size: 2rem;
        color: #fff; 
        margin-bottom: 20px;
        line-height: 1.2;
    }
    display: flex;
    flex-wrap: wrap;
    article:first-child {
        flex: 2;
        li {
            margin-bottom: 20px;
        }
        li::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
            color: $orange;
            margin-right: 5px;
            content: '\f058';
        }
    }
    article:last-child {
        flex: 1;
        display: flex;
        align-items: center;
        img {
        @include image;
    }
        
    }
}
.decaHeader {
    @extend .zabavaHeader;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/deca_header.jpg);
 
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    padding: 0 4px;
  }
  .prva {
      padding-left: 120px;
      padding-bottom: 30px;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    padding-bottom: 30px;
    border-radius: 30%;
  }
  